.movie-carousel {
  margin: 0 auto;
  max-width: 1200px;

  .slick-slide {
    padding: 0 5px;
  }

  img {
    height: 200px;
  }
}

.movie-image {
  height: 600px;
}

.movie-image > img {
  margin: auto;
  display: block;
  width: 100%;
}

.movie-info {
  position: absolute;
  padding: 5rem;
  bottom: 0px;
  height: 70%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
  opacity: 1;
  transition: opacity 0.3s;
}

.movie-info:hover {
  opacity: 1;
}

.movie-title {
  font-weight: 900;
  font-size: 4rem;
  margin-bottom: 0.4rem;
  text-align: left;
}

.movie-release-date {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.movie-rating {
  margin-left: 3rem;
}

.movie-description {
  font-style: italic;
  font-size: 1rem;
  margin-bottom: 0.25rem;
  display: flex;
  text-align: left;
  width: 50%;
}
