.movie-card {
  display: inline-block;
  transition: transform 0.2s;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  max-width: 300px;
  z-index: 0;
  border: 3px solid rgb(99, 99, 99);
}

.movie-card:hover {
  transform: scale(1.2);
  z-index: 1000;
}

.movie-image {
  height: 300px;
  max-width: 200px;
}

.movie-overlay {
  position: absolute;
  padding: 0 1rem 1rem 1rem;
  bottom: 0px;
  height: 300px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
  opacity: 0;
  transition: opacity 0.2s;
}

.movie-overlay:hover {
  opacity: 1;
}

.movie-title {
  font-weight: 900;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.movie-release {
  font-size: 0.75rem;
}

.movie-rating {
  float: right;
}

.movie-star {
  color: #f1c40f;
  margin-bottom: 0.25rem;
}

@media screen and (max-width: 425px) {
  .movie-overlay {
    opacity: 1;
  }
}
